@using QuoteCalculator.Domain.Models.Dto

@page "/calculator"
@inject HttpClient httpClient

<PageTitle>Quote Calculator</PageTitle>

<h3>Quote Calculator</h3>

<EditForm Model="@model" OnValidSubmit="Submit_CalculateQuote">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="d-flex flex-column align-items-center gap-4 mb-5">
            <MudSlider Value="@amountRequired" Size="Size.Large">How much do you need?</MudSlider>
            <MudSlider Value="@term" Min="1" Max="60" Size="Size.Large">Term</MudSlider>
        </div>

        <div class="d-flex justify-content-center mb-5">
            @* <BorrowerDetails /> *@
            <div class="container">
                <div class="d-flex justify-content-center gap-3 mb-6">
                    <MudSelect Label="Title" @bind-Value="model.Title" Placeholder="Mr./Mrs." Class="w-25">
                        <MudSelectItem Value="@("Mr.")">Mr.</MudSelectItem>
                        <MudSelectItem Value="@("Mrs.")">Mrs.</MudSelectItem>
                    </MudSelect>
                    <MudTextField Label="First Name" @bind-Value="model.FirstName" Variant="Variant.Text" Class="w-25"></MudTextField>
                    <MudTextField Label="Last Name" @bind-Value="model.LastName" Variant="Variant.Text" Class="w-25"></MudTextField>
                </div>

                <div class="d-flex justify-content-center gap-3 mb-6">
                    <MudDatePicker Label="Date Of Birth" @bind-Date="dateOfBirthPlaceholder" Class="w-25" />
                    <MudTextField Label="Your email" @bind-Value="model.Email" Variant="Variant.Text" Class="w-25"></MudTextField>
                    <MudTextField Label="Mobile number" @bind-Value="model.Mobile" Variant="Variant.Text" Class="w-25"></MudTextField>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center gap-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">Calculate Quote</MudButton>
                <p class="text-muted small">This quote does not affect your credit score.</p>
            </div>
        </div>
    </div>
</EditForm>

@code {
    int amountRequired = 50;
    int term = 1;

    public DateTime? dateOfBirthPlaceholder = DateTime.Today.AddYears(-18);

    QuotationDto model = new QuotationDto();
    bool success;

    private void Submit_CalculateQuote(EditContext context)
    {
        success = true;
        StateHasChanged();
    }
}
