@page "/test"

@rendermode InteractiveServer

@* <MudSelect T="int" Label="Product" @bind-Value="selectedProduct">
    <MudSelectItem T="int" Value="1">Product 1</MudSelectItem>
    <MudSelectItem T="int" Value="2">Product 2</MudSelectItem>
</MudSelect>

<MudSelect T="string" Label="US States" MultiSelection="true" @bind-Value="_value" @bind-SelectedValues="_options">
    @foreach (var state in _states)
    {
        <MudSelectItem T="string" Value="@state">@state</MudSelectItem>
    }
</MudSelect>

<p>Selected: @selectedProduct</p>

@code {
    private int selectedProduct;

    private string _value = "Nothing selected";
    private IEnumerable<string> _options = new HashSet<string> { "Alaska" };

    private readonly string[] _states =
    [
    "Alabama", "Alaska", "American Samoa", "Arizona",
    "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "District of Columbia", "Federated States of Micronesia",
    "Florida", "Georgia", "Guam", "Hawaii", "Idaho",
    "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky",
    "Louisiana", "Maine", "Marshall Islands", "Maryland",
    "Massachusetts", "Michigan", "Minnesota", "Mississippi",
    "Missouri", "Montana", "Nebraska", "Nevada",
    "New Hampshire", "New Jersey", "New Mexico", "New York",
    "North Carolina", "North Dakota", "Northern Mariana Islands", "Ohio",
    "Oklahoma", "Oregon", "Palau", "Pennsylvania", "Puerto Rico",
    "Rhode Island", "South Carolina", "South Dakota", "Tennessee",
    "Texas", "Utah", "Vermont", "Virgin Island", "Virginia",
    "Washington", "West Virginia", "Wisconsin", "Wyoming"
    ];
}
*@

@using System.Globalization

<MudSlider T="decimal" Value="@_value" ValueLabel="true" Step="0.5m" Culture="@_selectedCulture" ValueLabelFormat="@_selectedFormat" />

<MudSelect T="CultureInfo" @bind-Value="_selectedCulture">
    @foreach (var availableCulture in _availableCultures)
    {
        <MudSelectItem T="CultureInfo" Value="@availableCulture">@availableCulture.EnglishName</MudSelectItem>
    }
</MudSelect>

<MudSelect T="string" @bind-Value="_selectedFormat">
    <MudSelectItem Value="@("C")" />
    <MudSelectItem Value="@("00.00")" />
    <MudSelectItem Value="@("P1")" />
</MudSelect>

@code {
    private decimal _value = 50.0m;
    private string _selectedFormat = "C";
    private CultureInfo _selectedCulture = EnglishMoneyCulture;

    private List<CultureInfo> _availableCultures = new()
    {
        EnglishMoneyCulture,
        GermanMoneyCulture,
    };

    private static CultureInfo EnglishMoneyCulture
    {
        get
        {
            var culture = (CultureInfo)CultureInfo.GetCultureInfo("en").Clone();
            culture.NumberFormat.CurrencySymbol = "$";

            return culture;
        }
    }

    private static CultureInfo GermanMoneyCulture
    {
        get
        {
            var culture = (CultureInfo)CultureInfo.GetCultureInfo("de").Clone();
            culture.NumberFormat.CurrencySymbol = "€";

            return culture;
        }
    }
}